body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.top-bg {
    height: 100vh;
    width: 100%;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.content1 {
    text-align: center;
    top: 30%;
    width: 100%;
    position: absolute;
}

.content1 h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700px;
    color: whitesmoke;
    transform: translateY(-50%);
}

.content1 p {
    color: aliceblue;
    font-family: cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: translateY(-100%);
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(202, 12, 116));
    border: 30px;
    border-radius: 10px;
    padding: 20px 40px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-top: 50px;
}


.content2 {
    text-align: center;
    transform: translateY(80%);
    width: 100%;
    position: absolute;

}


.content2 h1 {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700px;
    color: black;
    transform: translateY(-50%);
    margin-top: auto;
}


.content2 p {
    color: black;
    font-family: cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: translateY(-100%);
    font-size: 20px;
}



.banner1 {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner2 {
    height: 100vh;
    width: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

span {
    margin: 50px 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style: initial;
    color: black;
    font-weight: 900;
    margin-bottom: 50px;
}


#money-donation {
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px 35px;
    background-color: rgb(221, 160, 117);
}

.content3 {
    text-align: center;
    transform: translateY(60%);
    width: 100%;
    position: absolute;

}

.content3 h1 {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700px;
    color: black;
    transform: translateY(-50%);
}

.content3 p {
    color: black;
    font-family: cursive;
    transform: translateY(100%);
}

.flexible-container {
    display: flex;
    margin: 50px 100px;
}

#food {
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 100px 100px;
}